<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>moneygenius.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0498FE102A00C3FE001EAAEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0498FE202A00C400001EAAEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0498FE2A2A00C400001EAAEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
